spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/sms
    username: sms
    password: sms
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
    properties:
      hibernate.format_sql: true
      flyway:
        enabled: false


server:
  port: 8080

logging:
  level:
    org.hibernate.SQL: warn

management:
  endpoints:
    web:
      exposure:
        include: health, info
  endpoint:
    health:
      show-details: always